[Desktop Entry]
Encoding=UTF-8
Name=pocket-home
Comment=Home screen for mobile devices
Categories=System;
Exec=pocket-home
Icon=pocketHome
NotShowIn=pocket-home
Type=Application
