Source: pocket-home
Section: x11
Priority: optional
Maintainer: Anthony Brown <anthony0857@gmail.com>
Build-Depends: debhelper (>= 9), libasound2-dev, libx11-dev, libxrandr-dev, libxcursor-dev, libxft-dev, libxinerama-dev, libxpm-dev, libnm-glib-dev, network-manager-dev, libi2c-dev, libssl-dev, libnm-gtk-dev, libglib2.0-dev
Standards-Version: 3.9.8
Homepage: https://github.com/centuryglass

Package: pocket-home
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnm-glib4, network-manager
Description: Home screen for portable devices
An application launcher and system manager for portable Linux devices.
