Source: pocket-home
Version: 0.0.9
Section: x11
Priority: optional
Maintainer: Anthony Brown <anthony0857@gmail.com>
Homepage: https://github.com/centuryglass
Package: pocket-home
Architecture: armhf
Depends: ${shlibs:Depends}, ${misc:Depends}, libnm-glib4, network-manager
Description: Home screen for portable devices
 An application launcher and system manager for portable Linux devices.
